<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title index-title is-4 has-text-centered">About me...</h1>
    <div class="box">
      <div class="media-content">
        <p>Hello everyone! I'm <strong>Kostas</strong>, a web developer from Athens, Greece. Making some cool projects
          for practice on
          <strong>Rails!</strong></p>
        <br/><br/>
        <p>This is an idea from the Odin Project, a web application where users post their thoughts. You can only view
          the author's name and post date if you are logged in! You can also delete your posts simply by clicking the x
          icon!<br/><br/><strong>Have Fun!!</strong></p>
      </div>
    </div>
  </div>
</div>